@model IEnumerable<Group>
@{ 
    ViewData["Title"] = "Home Page";
}
<a asp-controller="Home" asp-action="AddOrEdit">Add student</a>


@foreach (var group in Model)
{
    <p>
        <b>@group.Id - @group.GroupName (@group.Students?.Count)</b>

        @foreach (var student in group.Students)
        {
            <p>
                @student.FullName
                <a asp-controller="Home" asp-action="AddOrEdit" asp-route-id="@student.Id">Edit</a>
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@student.Id">Delete</a>
            </p>
        }
    </p>

}